$navColor: #b0efef;
$actColor: #d2292d;
$hovTxtColor: white;
$navTxtColor: black;

footer,
body {
  margin: 0;
  padding: 0;
}

.bg-nav {
  background-color: $navColor !important;
  button {
    border-color: rgb(0, 0, 0);
  }
  div ul {
    li {
      a {
        color: $navTxtColor !important;
      }
      a:hover {
        color: $actColor !important;
        font-weight: bold;
      }
    }
    li.active {
      a {
        color: $actColor !important;
        font-weight: bold;
      }
    }
  }
}

.drop-white {
  border: 1px solid $hovTxtColor;
}

.navbar-brand {
  img {
    max-width: 200px;
  }
  img:hover {
    filter: invert(100%) drop-shadow(5px 5px 5px black);
  }
}

.dropdown-menu {
  .dropdown-item:hover,
  .dropdown-item.active {
    background-color: $actColor;
    color: $hovTxtColor !important;
  }
}

.logo {
  margin: 0;
  padding: 0;
  width: auto;
  height: 50px;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 769px) {
}
