$navColor: #b0efef;
$actColor: #d2292d;
$hovTxtColor: white;
$navTxtColor: black;
$homeh1: #ffb4bb;
$bodyFont: "special";

@font-face {
  font-family: "special";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}

footer,
body,
div {
  margin: 0;
  padding: 0;
}

.bg-nav {
  background-color: $navColor !important;
  button {
    border-color: rgb(0, 0, 0);
  }
  div ul {
    li {
      a {
        color: $navTxtColor !important;
      }
      a:hover {
        color: $actColor !important;
        font-weight: bold;
        border: none !important;
      }
    }
    li.active {
      a {
        color: $actColor !important;
        font-weight: bold;
        border: none !important;
      }
    }
  }
}

.drop-white {
  border: 1px solid $navTxtColor !important;
}

.navbar-brand {
  img {
    max-width: 200px;
  }
  img:hover {
    filter: invert(100%) drop-shadow(5px 5px 5px black);
  }
}

.dropdown-menu {
  box-shadow: none !important;
  border: none !important;
  .dropdown-item:hover,
  .dropdown-item.active {
    background-color: $actColor;
    color: $hovTxtColor !important;
  }
}

.logo {
  margin: 0;
  padding: 0;
  width: auto;
  height: 50px;
}

.body {
  font-family: $bodyFont !important;
  h2 {
    margin: 1rem;
    color: $homeh1;
  }
}

.nav-flag {
  height: 1.8rem;
  width: auto;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 769px) {
}
