$navColor: #1761B0;
$actColor: #D2292D;
$hovTxtColor: white;

footer, body {
  margin: 0;
  padding: 0;
}

.bg-nav {
  background-color: $navColor;
}

.drop-white {
  border: 1px solid $hovTxtColor;
}

.navbar-brand {
    img {
      max-width: 200px;
    }
    img:hover {
      filter: invert(100%) drop-shadow(5px 5px 5px black)
      ;
    }
}

.dropdown-menu {
  .dropdown-item {
    color: $hovTxtColor;
  }
  .dropdown-item:hover, .dropdown-item.active {
    background-color: $actColor;
  }
}


@media only screen and (max-width: 768px) {

}

@media only screen and (min-width: 769px) {
  
}
